body{

font-family:Arial,sans-serif;
background-color:#f8f4f0;

}

header{

background:linear-gradient(to right,#d4a373,#faedcd);

padding:30px;

text-align:center;

color:white;

}

.inicio{

background:white;

padding:30px;

border-radius:15px;

margin-top:20px;

box-shadow:0px 5px 15px rgba(0,0,0,0.2);

}

.card{

transition:0.4s;

}

.card:hover{

transform:scale(1.05);

}

.imagen{

border-radius:15px;

box-shadow:0px 4px 10px rgba(0,0,0,0.3);

}

aside{

background-color:#faedcd;

padding:20px;

margin:20px;

border-radius:15px;

}

footer{

background-color:#d4a373;

padding:15px;

text-align:center;

color:white;

margin-top:30px;

}


#listaSolicitudes .card{

margin-bottom:15px;

}


@media(max-width:768px){

header h1{

font-size:28px;

}

.inicio{

text-align:center;

}

}